* {
  box-sizing: border-box;
}
.title {
  background-color: gainsboro;
  position: absolute;
  top: 80%;
  text-align: center;
  padding: 15px;
  margin: 0 5%;
  overflow: hidden;
  max-height: 105px;
  transition: max-height 0.3s;
  width: 90%;
  transition-timing-function: ease-in-out;
}

h3 {
  margin: 10px 0;
}

img {
  width: 100%;
}

hr {
  width: 50px;
}

.cadre {
  position: relative;
  width: 50vh;
  margin: 10px auto;
}
.cadre:hover .title {
  max-height: 160px;
}
